body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: grey;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: grey;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.weatherAppWrap {
  max-width: 600px;
  margin: 30px auto;
}
.weatherApp {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.temperature {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 14px;
  top: -20px;
}
.active {
  color: grey;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.weatherData {
  position: relative;
  bottom: -100px;
}
